html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lora', serif;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10%;
}

nav {
  height: 10%;
}

ul li {
  display: inline;
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
}

h5 {
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-right: 5%;
  margin-left: 5%;
}

#map {
  height: 80%;
  width:100%;
  top: 10%;
  bottom: 10%;
  position: absolute;
}

#adv-search {
  font-size: 1.1em;
  line-height: 25px;
  cursor: pointer;
}

#adv-search-heading {
  padding-top: 25px;
  padding-bottom: 50px;
}

#adv-search-button-div {
  margin-top: 50px;
}
