/* CSS file for the yourhikes.html page */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lora', 'Georgia', serif;
  font-size: 100%;
}

body {
  background-image: url("../pictures/yellowleaf.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 80%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  height: 10%;
}

.checkmark {
  color: white;
}

.completed {
  background-color: #43a047;
  color: white;
}

.footer-item {
  display: inline;
  padding-right: 20px;
  padding-left: 20px;
}

.hikes-pop-out-div {
  display: none;
}

.menu-item {
  margin-right: 5%;
}

#clear-saved-hikes {
  margin-bottom: 150px;
}
